<!--
<figure>
  {% if page.date != null %}
  <img src="/images/{{ page.date | date: "%F" }}-{{ page.title | downcase }}.jpg" alt="{{ page.title }}" class="portrait">
  <h1>{{ page.title }}</h1>
  {% else %}
  {% endif %}
</figure>
-->
{% if post == null %}
<p class="summary">page{{ pgae.summary }}</p>
<p class="summary">post{{ post.summary }}</p>
{% else %}
<p class="summary">page{{ pgae.summary }}</p>
<p class="summary">post{{ post.summary }}</p>
{% endif %}
<p class="date">{% include time.html %}</p>
