<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
  </head>
  <body>
    <div class="wrap">
      <header role="banner">
        <h1>{{ site.title }} / <span>{% if page.title %}{{ page.title }}{% else %}{{ page.date | date: "%Y" }}{% endif %}</span></h1>
        <p class="tagline">What do I use to <em>get stuff done</em>?</p>
      </header>
      <nav role="navigation">
        <ul>{% capture href %}{{ page.url | remove: "index.html" }}{% endcapture %}{% for item in site.nav %}
          {% if href == item.href %}<li class="selected">{% else %}<li>{% endif %}<a href="{{ item.href }}" title="{{ item.desc }}">{{ item.name }}</a></li>{% endfor %}
        </ul>
      </nav>
      <div role="main">{{ content }}</div>
      <footer role="contentinfo">
        <p>This is a <a href="http://waferbaby.com/" title="Some website.">waferbaby</a> snafu. You can follow along via <a href="http://twitter.com/usesthis/" title="The site's Twitter account.">Twitter</a>, or subscribe to the <a href="/feed/" title="Subscribe to the Atom feed.">feed</a>.</p>
        <p>Unless otherwise noted, everything is available via the <a href="http://creativecommons.org/licenses/by-sa/2.5/au/" title="A Creative Commons license.">Attribution-Share Alike</a> license.</p>
      </footer>
    </div>
  </body>
</html>
