<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/screen.css">
    <link rel="stylesheet" href="/stylesheets/nzwsch.css">
    <!-- <link href="/feed/" rel="alternate" title="Atom feed" type="application/atom+xml"> -->
    <meta name="viewport" content="width=device-width, minimum-scale=0.6, maximum-scale=1.0" />
  </head>
  <body>
    <header>
      <h1><a href="{% if page.person %}http://usesthis.com{% endif %}/" title="The most recent interviews.">The Setup</a></h1>
      <p id="tagline">What do people use to get stuff done?</p>
    </header>
    <nav>
      <ul>
        <li><a href="{% if page.person %}http://usesthis.com{% endif %}/interviews/" title="All the other interviews.">Interviews</a></li>
        <li><a href="{% if page.person %}http://usesthis.com{% endif %}/about/" title="A little more info about the site.">About</a></li>
        <li><a href="{% if page.person %}http://usesthis.com{% endif %}/community/" title="Other interviews by people like you.">Community</a></li>
        <li><a href="{% if page.person %}http://usesthis.com{% endif %}/feed/" title="The site's Atom feed.">Feed</a></li>
        <li><a href="//twitter.com/nzwsch" title="The site's Twitter account.">Twitter</a></li>
      </ul>
    </nav>
    <section id="contents">
      {{ content }}
    </section>
    <footer>
      <p>This is a <a href="http://waferbaby.com/" title="Some website.">waferbaby</a> snafu. Unless otherwise noted, everything is available via the <a href="http://creativecommons.org/licenses/by-sa/2.5/au/" title="A Creative Commons license.">Attribution-Share Alike</a> license.</p>
    </footer>
  </body>
</html>
